# Len()

In [12]:
# Len()

# 1. LIST

list_angka = [1,2,3,4,5,6,7,8,9,10]

print(list_angka)
print()
print("Panjang list angkanya adalah:",len(list_angka))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Panjang list angkanya adalah: 10

In [15]:
# 2. Set

set_angka = set([1,2,3,4,5,6,7,8,9,10])

print("Tipe set angka adalah:", type(set_angka))

Tipe set angka adalah: <class 'set'>

In [17]:
# 3. String 

contoh_kalimat = "Saya adalah seorang asisten dosen"

print(contoh_kalimat)
print()
print(len(contoh_kalimat))

Saya adalah seorang asisten dosen

33

# Min & Max

In [23]:
list_angka 

print("Angka ini adalah minimum list:", min(list_angka))
print()
print("Angka ini adalah maximum list:", max(list_angka))

Angka ini adalah minimum list: 1

Angka ini adalah maximum list: 10

# Count

In [28]:
list_angka_genap = [ 2, 4, 6, 9 , 1, 5, 8 , 10,4, 4, 4] 
print(list_angka_genap.count(4))

4

In [34]:
print(kalimat_1.count(Huruf_e))

7

# In & Not In

In [38]:
kalimat_coba = "Saya adalah seorang asisten dosen. Saya suka makan pisang, saya akan merekap absen dan nilai"
print("Saya" in kalimat_coba)
print("saya" in kalimat_coba)
print("Aku" in kalimat_coba)

True
True
False

In [41]:
print("Aku" not in kalimat_coba)
print("saya" not in kalimat_coba)
print("Saya" not in kalimat_coba)

True
False
False

# Memberikan Nilai pada variabel multiple

Menandai suatu nilai dalam list atau tuple dengan suatu nilai sesuai keinginan

In [33]:
kalimat_1 = "Saya adalah seorang asisten dosen, senang bertemu dengan annda!"
Huruf_e = "e"
print(kalimat_1)

Saya adalah seorang asisten dosen, senang bertemu dengan annda!

In [44]:
buronan_kpk = ["Ahmad", "Jauhari", "Rifa'i", "magdalena", "Diaz"]

tersangka_1 = buronan_kpk[0]
tersangka_2 = buronan_kpk[1]
tersangka_3 = buronan_kpk[2]
tersangka_4 = buronan_kpk[3]
tersangka_5 = buronan_kpk[4]

print(tersangka_1)
print(tersangka_2)
print(tersangka_3)
print(tersangka_4)
print(tersangka_5)

Ahmad
Jauhari
Rifa'i
magdalena
Diaz

# Sort

In [62]:
list_mahasiswa_b_absen =[ '1.Muhammad iqbal kurnia adjie (233510728)', 
'2.Salsabillah Ramadhani (233510313)',
'3.Daffa Erfin (233510462)',
'4.Yudi Ahmadi SiregarÂ (233510616)']

print("Sebelum Sort:",list_mahasiswa_b_absen)

list_mahasiswa_b_absen.sort(reverse= True)

print()
print("Setelah Sort:",list_mahasiswa_b_absen)

Sebelum Sort: ['1.Muhammad iqbal kurnia adjie (233510728)', '2.Salsabillah Ramadhani (233510313)', '3.Daffa Erfin (233510462)', '4.Yudi Ahmadi Siregar\xa0(233510616)']

Setelah Sort: ['4.Yudi Ahmadi Siregar\xa0(233510616)', '3.Daffa Erfin (233510462)', '2.Salsabillah Ramadhani (233510313)', '1.Muhammad iqbal kurnia adjie (233510728)']

In [65]:
# sort tidak bisa pada data gabungan int,dan string 

kalimat = [ 'saya' , 1 , 5 , ' apel ' ]

kalimat.sort()

kalimat

<class 'TypeError'>: '<' not supported between instances of 'int' and 'str'

In [67]:
# pada sort upper case akan terlebih dahulu ketimbang lower case

kalimat_modif = [ 'saya' , 1 , 5 , ' Apel ' ]

kalimat_modif

['saya', 1, 5, ' Apel ']